*{
   margin:0;
   padding:0;
 }
 .header{
	 min-height:100vh;
	 width:100%;
	 background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://www.muet.edu.pk/sites/default/files/images/2024-12/muet-alumni-1_0.jpeg);
	 background-position: center;
	 background-size:cover;
	 position:relative;
 }
 .header-sub{
	 min-height:60px;
	 width:100%;
	 background-color:#002147;
	 background-position: center;
	 background-size:cover;
	 position:relative;
 }
 nav{
	 display:flex;
	 padding:2% 6%;
	 justify-content: space-between;
	
 }
 nav img{
	 width:220px;
	 height:60px;
 }
 .nav-links{
	 flex:1;
	 text-align:right;
 }
 .nav-links ul li{
	 list-style:none;
	 display:inline-block;
	 padding:8px 12px;
	 position:relative;
 }
 .nav-links ul li a{
	 color:#fff;
	 text-decoration:none;
	 font-size:13px;
	 font-style:sans-serif;
 }
 .nav-links ul li::after{
	 content:'';
	 width:0%;
	 height:2px;
	 background:#007ebd;
	 display:block;
	 margin:auto;
	 transition:0.5s;
 }
 .nav-links ul li:hover::after{
	  width:100%;
 }
 .text-box{
	 width:90%;
	 color:#fff;
	 position:absolute;
	 top:33%;
	 left:5%;
	 transform:(-50,-50%);
	 text-align:center;
 }
  .text-box h1{
	  font-size:45px;
  }
  
   .text-box p{
	   margin:10px 0 40px;
	   font-size:20px;
	   color:#fff;
   }
 .button{
	 display:inline-block;
	 text-decoration:none;
	 color:#fff;
	 border:1px solid #fff;
	 padding:10px 34px;
	 font-size:15px;
	 background:transparent;
	 position:relative;
	 cursor:pointer;
	 transition:1s;
 }
 .button:hover{
	 border:1px solid #007ebd;
	 background:#007ebd;
 }
 nav .fa{
	 display:none;
 }
 @media(max-width:600px){
	    .text-box h1{
	  font-size:15px;
    }
	 .nav-links ul li{
		 display:block;
	 }
     .nav-links{
		 position:absolute;
		 background:#000080;
		 height:100vh;
		 width:200px;
		 top:0;
		 right:-200px;
		 text-align:left;
		 z-index:2;
		 transition:1s;
	 }
     nav .fa{
		 display:block;
		 color:#fff;
		 margin:10px;
		 font-size:18px;
		 cursor:pointer;
	 }
	 .nav-links ul{
		 padding:6px;
	 }
 }
 /*-------------programs and courses------*/
 .programs{
	 width:80%;
	 margin:auto;
	 text-align:center;
	 padding-top:100px;
	 font-family:"Lexend",sans-serif;
 }
 h1{
	 font-size:30px;
	 font-weight:600;
 }
 p{
	 color:#777;
	 font-size:14px;
	 font-weight:300;
	 line-height:22px;
	 padding:10px;
 }
 .row{
	 margin-top:5%;
	 display:flex;
	 justify-content:space-between;
 }
 .course-col{
	 flex-basis:31%;
	 background:#002147;
	 border-radius:10px;
	 margin-bottom:5%;
	 padding:20px 12px;
	 box-sizing:border-box;
	 color:#fff;
 }
 .course-col h3{
	 color:#20c4ff;
 }
 .course-col img{
	 width:85%;
 }
 .course-col li{
	 text-align:left ;
	 font-size:14px;
 }
 h3{
	 text-align:center;
	 font-weight:600;
	 margin:10px 0;
 }
 .course-col:hover{
	 box-shadow:0 0 20px 0px rgba(0,0,0,0.5);
 }
 @media(max-width: 600px){
	 .row{
		 flex-direction: column;
	 }
 }
 /*---------campus-----------*/
 .muet{
	 margin:30px;
	 padding:20px;
	 text-align:center;
 }
 .pic{
	margin:30px;
	position:absolute;
	left:0.5%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://www.muet.edu.pk/sites/default/files/styles/civictheme_navigation_card/public/images/2024-12/421848132_771521241674170_2580650255641487362_n.jpg?h=001b5794&itok=fn7HAUu8);
	background-position: center;
    background-size:cover;
	height:150px;	
 }
  .campus-col h3{
	  color:#fff;
	  font-size:27px;
  }
   .campus-col p{
	   font-size:18px;
   }
 @media(max-width: 600px){
	   .campus-col h3{
	  color:#fff;
	  font-size:20px;
  }
   .campus-col p{
	   font-size:12px;
   }
 }
 /*_--------------footer---------*/
 .footer{
	 position: relative;
  top: 200px;
  width: 100%; 
  height: 100px;
	
 }
 .icons{
	 background-color:#002147;
	 background-size:cover;
	 height:100%;
	 text-align:center;
 }
.icons .fa{
	font-size:60x;
	color:#fff;
	margin:10px 13px;
	cursor:pointer;
	padding:10px 0;
}

/*-------------programspage-------------*/
.course{
	width:80%;
	margin:auto;
	padding:60px 0;
	
    	
}
.course-left{
	flex-basis:65%;
}
.course-left img{
	width:100%;
}
.course-left h2{
	color:#222;
	font-weight:600;
	margin:30px 0;
}
.course-left p{
	color:#999;
	padding:0;
}
.course-right{
	flex-basis:32%;
}
.course-right h3{
	background:red;
	color:#fff;
	padding:7px 0;
	font-size:16px;
	margin-bottom:20px;
	margin-top:70px;
}
.course-right div{
	display:flex;
	align-items:center;
	justify-content:space-between;
	color:#555;
	padding:8px;
	box-sizing:border-box;
}
.comment{
	border:1px solid #ccc;
	margin:50px 0;
	padding:10px 20px;
}
.comment h3{
	text-align:left;
}
.c-box input, .c-box textarea{
	width:100%;
	padding:10px;
	margin:15px 0;
	box-sizing:border-box;
	border:none;
	outline:none;
	background:#f0f0f0;
}
.c-box button{
	margin:5px 0;
	color:#555;
	background:#f0f0f0;
	
}
@media(max-width: 600px){
	.comment{
		width:80%;
		border:1px solid #ccc;
	margin:30px 0;
	padding:5px 10px;
	}
}
.students{
	width:80%;
	margin:auto;
	padding:80px;
	padding-bottom:50px;
}
.students-col{
	flex-basis:48%;
	padding:30px 2px;
}
.students-col img{
	width:100%;
}
.students-col h1{
	padding-top:0;
}
.students-col p{
	padding:15px 0 25px;	
}
.btn{
	border:1px solid #000080;
	background:transparent;
	color:#000080;
}
.btn:hover{
	color:#fff;
}